@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    
}

header {
    font-weight: 600;
    height: 10vh;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.801);
}

.purple {
    color: rebeccapurple;
}

.bold {
    font-weight: 700;
}

main .top {
    height: 90vh;
    padding: 0 2em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3em;
}

main .top h1 {
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
}

main .top p {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1em;
}

main .top .btns button {
    border: none;
    margin-top: 1em;
    transition: all 1s ease-in-out;
}

main .top .btns button:first-child {
    margin-right: 0.3em;
}

main .top .btns button:hover a, main .top .btns button:focus a {
    background-color: rebeccapurple;
    color: whitesmoke;
    border: none;
}

main .top .btns button a {
    text-decoration: none;
    padding: 0.75em 1.5em;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
}

main .about {
    background-color: rgb(16, 2, 31);
    color: white;
    padding: 1em 2em;
}

main .about h1 {
    font-size: 3rem;
    color: rgb(69, 15, 124);
}


main .about p {
    font-size: 0.8rem;
    line-height: 40px;
    border-bottom: 1px solid whitesmoke;
}

main .about p:first-child {
    margin: 1em 0;
}

main .about p:last-child {
    margin: 1em 0;
}

main .stack {
    padding: 2em 2em;
    background-color: rgb(16, 2, 31);
}

main .stack h1 {
    font-size: 3rem;
    color: rgb(69, 15, 124);
}

main .stack .stack-language {
    display: grid;
    gap: 1em;
    
}

main .stack .stack-language button {
    padding: 0.75em 1.5em;
    border: 1px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

main .stack .stack-language button:hover, main .stack .stack-language button:focus, main .stack .stack-language button:active {
    border: 2px solid rgb(69, 15, 124);
}

main .projects {
    padding: 0 2em;
    background-color: rgb(16, 2, 31);
}

main .projects h1 {
    font-size: 3rem;
    color: rgb(69, 15, 124);
}

main .projects .work {
    width: 100%;
    height: 60vh;
    padding: 1em;
    transition: all 1s ease-in-out;
}

main .projects .work:last-child {
    padding-bottom: 2em;
}

main .projects .work img {
    width: inherit;
    height: 90%;
    display: block;
}

main .projects .work h5 {
    background-color: rgba(0, 0, 0, 0.384);
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1em;
    height: 15%;
    display: none;
    text-align: center;
    overflow: hidden;
}

main .projects .work:hover h5, main .projects .work:focus h5 {
    display: block;
}

main .contact {
    padding: 1em 2em;
    background-color: whitesmoke;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

main .contact h1 {
    font-size: 3rem;
    color: rgb(69, 15, 124);
    text-align: center;
}

main .contact .container {
    width: 80%;
    height: 80%;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(69, 15, 124);
}

main .contact .container p {
    font-size: 0.7rem;
}  

main .contact .container p a {
    color: whitesmoke;
    text-decoration: none;
}

main .contact .container p:first-child {
    margin: 1em 0;
}

main .contact .container p:last-child {
    margin: 1em 0;
}

footer {
    height: 10vh;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 2, 31);
    color: whitesmoke;
}







@media screen and (min-width: 768px){

    header {
        padding: 0 4em;
    }

    .logo {
        font-size: 1.3rem;
    }

    main .top {
        align-items: center;
        justify-content: center;
        padding: 0 4em;
    }
    
    main .top h1 {
        font-size: 8rem;
        font-weight: 800;
    }

    main .top p {
        font-size: 1.3rem;
    }

    /* main .top .btns button {
        
    } */

    main .top .btns button:first-child {
        margin-right: 2em;
    }

    main .top .btns button a {
        padding: 1.5em 3em;
    }

    main .about {
        padding: 4em 4em;
    }

    main .about p {
        font-size: 1.2rem;
    }

    main .projects {
        padding: 0 4em;
    }

    main .stack {
        padding: 2em 4em;
    }

    main .stack .stack-language {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    main .contact {
        padding: 1em 4em;
    }

    main .contact .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }




    main .contact .container p {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }

}

